canvas{
   border: 1px solid black;
   position: absolute;
}

#background-canvas{
    z-index: 1;
}

#gamePlace{
    z-index: 10;
}

#game-objects{
    z-index: 5;
}

#points{
    z-index: 3;
}

img{
    display: none;
}